@page "/"
@rendermode InteractiveServer

<PageTitle>Flameboss 400 Controller</PageTitle>
<h1>Flameboss 400 controller</h1>
<MudGrid>
    <MudItem sm="12" md="6" lg="2">
        <MudText>Pit Temperature:</MudText><MudText>@FlamebossData.CurrentStatus.Pit</MudText>
    </MudItem>
    <MudItem sm="12" md="6" lg="2">
        <MudText>Meat Temperature:</MudText><MudText>@FlamebossData.CurrentStatus.Meat1</MudText>
    </MudItem>
    <MudItem sm="12" md="6" lg="2">
        <MudText>Blower Speed:</MudText><MudText>@FlamebossData.CurrentStatus.BlowerPercentage</MudText>
    </MudItem>
    <MudItem sm="12" md="6" lg="2">
        <MudText>Set Temperature:</MudText><MudText>@FlamebossData.CurrentStatus.SetTemperature</MudText>
    </MudItem>
</MudGrid>
<MudPaper Class="doc-section-component-container">
    <MudTimeSeriesChart ChartSeries="@_tempSeries"
                        @bind-SelectedIndex="_index"
                        Width="@_width"
                        Height="@_height"
                        ChartOptions="@_tempOptions"
                        AxisChartOptions="@_axisChartOptions"
                        CanHideSeries="true"
                        TimeLabelSpacing="TimeSpan.FromMinutes(1)"
                        TimeLabelSpacingRounding="_roundedLabelSpacing"
                        TimeLabelSpacingRoundingPadSeries="_roundedLabelSpacingPadSeries"
                        DataMarkerTooltipTimeLabelFormat="HH:mm:ss" />
</MudPaper>
<MudPaper Class="doc-section-component-container">
    <MudTimeSeriesChart ChartSeries="@_blowerSeries"
                        @bind-SelectedIndex="_index"
                        Width="@_width"
                        Height="@_height"
                        ChartOptions="@_blowerOptions"
                        AxisChartOptions="@_axisChartOptions"
                        CanHideSeries="true"
                        TimeLabelSpacing="TimeSpan.FromMinutes(1)"
                        TimeLabelSpacingRounding="_roundedLabelSpacing"
                        TimeLabelSpacingRoundingPadSeries="_roundedLabelSpacingPadSeries"
                        DataMarkerTooltipTimeLabelFormat="HH:mm:ss" />
</MudPaper>
@code{
    private int _index = -1; 
    private ChartOptions _tempOptions = new ChartOptions
        {
            YAxisLines = false,
            YAxisTicks = 50,
            MaxNumYAxisTicks = 8,
            YAxisRequireZeroPoint = true,
            XAxisLines = false,
            LineStrokeWidth = 1,
        };

    private ChartOptions _blowerOptions = new ChartOptions
    {
        YAxisLines = false,
        YAxisTicks = 10,
        MaxNumYAxisTicks = 10,
        YAxisRequireZeroPoint = true,
        XAxisLines = false,
        LineStrokeWidth = 1,
    };
    
    private AxisChartOptions _axisChartOptions = new()
    {
        XAxisLabelRotation = 90
    };

    private TimeSeriesChartSeries _pitData = new();
    private TimeSeriesChartSeries _meatData = new();
    private TimeSeriesChartSeries _setData = new();
    private TimeSeriesChartSeries _blowerData = new();
    
    private List<TimeSeriesChartSeries> _tempSeries = new();
    private List<TimeSeriesChartSeries> _blowerSeries = new();
    
    private bool _roundedLabelSpacing = false;
    private bool _roundedLabelSpacingPadSeries = false;

    private string _width = "650px";
    private string _height = "350px";

    protected override void OnInitialized()
    {
        base.OnInitialized();
        
        FlamebossData.CurrentStatus = new FlameBossStatus()
        {
            BlowerPercentage = 0,
            Pit = 0,
            Meat1 = 0,
            SetTemperature = 0,
            LastUpdate = DateTime.Now
        };

        var now = DateTime.Now;
        List<TimeSeriesChartSeries.TimeValue> pitData =  FlamebossData.GetLastUpdateList()
            .Zip(FlamebossData.GetPitTemperatureList(), (dateTime, value) => new TimeSeriesChartSeries.TimeValue
            (dateTime,value)).ToList();
        _pitData = new TimeSeriesChartSeries
            {
                Index = 0,
                Name = "Pit",
                Data = pitData,
                IsVisible = true,
                LineDisplayType = LineDisplayType.Line,
                DataMarkerTooltipTitleFormat = "{{X_VALUE}}",
                DataMarkerTooltipSubtitleFormat = "{{Y_VALUE}}",
                ShowDataMarkers = true
            };

        List<TimeSeriesChartSeries.TimeValue> meatData =  FlamebossData.GetLastUpdateList()
            .Zip(FlamebossData.GetMeatTemperatureList(), (dateTime, value) => new TimeSeriesChartSeries.TimeValue
                (dateTime,value)).ToList();
        _meatData = new TimeSeriesChartSeries
            {
                Index = 1,
                Name = "Meat",
                Data = meatData,
                IsVisible = true,
                LineDisplayType = LineDisplayType.Line,
                DataMarkerTooltipTitleFormat = "{{X_VALUE}}",
                DataMarkerTooltipSubtitleFormat = "{{Y_VALUE}}",
                ShowDataMarkers = true
            };

        List<TimeSeriesChartSeries.TimeValue> setData =  FlamebossData.GetLastUpdateList()
            .Zip(FlamebossData.GetSetTemperatureList(), (dateTime, value) => new TimeSeriesChartSeries.TimeValue
                (dateTime,value)).ToList();
        _setData = new TimeSeriesChartSeries
            {
                Index = 2,
                Name = "Set",
                Data = setData,
                IsVisible = true,
                LineDisplayType = LineDisplayType.Line,
                DataMarkerTooltipTitleFormat = "{{X_VALUE}}",
                DataMarkerTooltipSubtitleFormat = "{{Y_VALUE}}",
                ShowDataMarkers = true
            };

        _tempSeries.Add(_pitData);
        _tempSeries.Add(_meatData);
        _tempSeries.Add(_setData);
        
        List<TimeSeriesChartSeries.TimeValue> blowerData =  FlamebossData.GetLastUpdateList()
            .Zip(FlamebossData.GetBlowerSpeedList(), (dateTime, value) => new TimeSeriesChartSeries.TimeValue
                (dateTime,value)).ToList();
        _blowerData = new TimeSeriesChartSeries
        {
            Index = 0,
            Name = "Blower",
            Data = blowerData,
            IsVisible = true,
            LineDisplayType = LineDisplayType.Area,
            DataMarkerTooltipTitleFormat = "{{X_VALUE}}",
            DataMarkerTooltipSubtitleFormat = "{{Y_VALUE}}",
            ShowDataMarkers = true
        };
        
        _blowerSeries.Add(_blowerData);

        StateHasChanged();
    }
    
}